/* Group 2 */
.group {
  position: absolute;
  width: 70px;
  height: 70px;
}

/* Rectangle 1 */
.rect1 {
  box-sizing: border-box;

  position: absolute;
  width: 70px;
  height: 70px;

  background: rgba(14, 138, 240, 0.15);
  border: 5px solid #466081;
  border-radius: 5px;
}

/* Line 2 */
.line2 {
  position: absolute;
  width: 67px;
  height: 0px;

  border: 5px solid #466081;
  transform: rotate(45.86deg);
  border-radius: 5px;
}

/* Line 3 */
.line3 {
  position: absolute;
  width: 67px;
  height: 0px;

  border: 5px solid #466081;
  transform: rotate(-45deg);
  border-radius: 5px;
}
