body {
  margin: 0;
  padding: 0;
}

.userbanner {
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: sans-serif;
  margin: 0%;
  padding: 0%;
  align-items: flex-start;
  background-color: #1c2541;
}

.businesslogo {
  display: inline-block;
  max-width: 8%;
  margin-top: -4%;
}

.usergreeting {
  font-size: 100%;
  font-weight: bold;
  margin-left: 10%;
  color: #5bc0be;
}

.timertext {
  font-size: 100%;
  color: #7d94af;
  margin-right: 2%;
}

.header {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.title {
  font-size: 160%;
  font-weight: bold;
  margin-left: 6%;
}

.blandtext {
  font-size: 90%;
  color: #3a506b;
  margin-left: 6%;
  margin-right: 32%;
}

.body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 200px);
  grid-gap: 80px;
  row-gap: 600px;
  padding: 20px;
  font-family: sans-serif;
}

.codebreaker,
.captcha,
.whackamole,
.dragndrop {
  /* background-color: #3a506b; */
  padding: 20px;
  border-radius: 8px;
  /* CAE Changed for captcha display - may have to fix as puzzles added */
  height: 600px;
}

.codebreaker p,
.captcha p,
.whackamole p {
  width: 90%;
}
.dragndrop p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #3a506b;
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}
