.not-found {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  height: 100vh;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.fourOhfour {
  font-size: 396px;
  animation: cursedText 0.4s infinite;
  margin-top: 0px;
}

.imageNotFound {
  width: 100%;
  height: auto;
  cursor: pointer;
  margin-top: -790px;
}

.return {
  font-size: 34px;
}

@keyframes cursedText {
  0%,
  100% {
    color: #000;
    text-shadow: none;
  }
  25% {
    color: #e00;
    text-shadow: 1px 1px 0 #0e0;
  }
  50% {
    color: #0ee;
    text-shadow: -1px -1px 0 rgb(137, 5, 137);
  }
  75% {
    color: #00e;
    text-shadow: 1px -1px 0 #e00;
  }
}
