.bar {
  background-color: #1c2541ff;
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  touch-action: none;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

/* ...and then apply it: */
/* .bar {
  animation: slide-in 1000ms;
} */

.spam {
  animation: slide 1s;
}

@keyframes spam {
  0% {
    position: relative;
    left: 0;
  }
  50% {
    position: relative;
    left: 70px;
  }
  100% {
    position: relative;
    left: 0px;
  }
}
