.graphBg {
  /* background-image: url('/public/graphBg.png'); /*TODO: replace image with more tecnical graph (in colour scheme)*/
  /*background-repeat: no-repeat; */

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 5px;
  padding-bottom: 10%;
}

.title {
  color: #1c2541ff;
  padding-left: 10%;
  text-decoration: underline;
  text-underline-position: below;
}

.remove {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
  color: #1c2541ff;
  text-decoration: underline;
  text-underline-position: below;
}
