/* body {
  overflow: hidden;
}

#info {
  pointer-events: none;
  user-select: none;
  padding: 10px;
} */

.eyes-container {
  display: flex;
}

.eye {
  width: 50px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid black;
  position: relative;
  margin: 20px;
}

.pupil {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
}

.eyelid {
  position: absolute;
  width: 220px;
  height: 100px;
  background-color: white;
  z-index: 400;
  top: -120px;
  animation: blink 4.5s infinite ease-in alternate;
  animation-delay: 1s;
}
@keyframes blink {
  0% {
    top: -120px;
  }
  95% {
    top: -120px;
  }
  100% {
    top: -50px;
  }
}
