.graphBg {
  background-image: url('/public/graphBg.png'); /*TODO: replace image with more tecnical graph (in colour scheme)*/
  background-repeat: no-repeat;
  background-color: #ffffff;
  width: 500px;
  height: 500px;
  margin: 2px;
}

.graphTitle {
  color: #1c2541ff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 50px;
}

.graphBar {
  background-color: #5bc0beff;
  padding-left: 67px;
  padding-right: 43px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}
